/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #000000, #53006e);
    border-radius: 2rem;
    margin-top: 3rem;
    padding: 0 4rem;
}

.container {
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1rem;
}

.header_right img {
    width: 100%;
}

.header_left {
    padding: 4rem 0;
    width: 50%;
}

.header_left h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.header_left p {
    color: #FFF;
}
.header_right {
    width: 50%;
}
.live_btn {
    margin-top: 2rem;
    display: inline-block;
}

.live_btn span {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
    background: linear-gradient(0deg, #00adff, #008bc1);
    padding: .8rem 2rem;
    border-radius: .5em;
    box-shadow: 0 0 22px #00a4ee40;

    transition: all .4s ease;
}
.live_btn span:hover {
    background: linear-gradient(90deg, #008bc1, #00adff);
}

a.btn {
    text-decoration: none;
}
/* Header responsive */
@media screen and (max-width: 820px) {
    .header_left p {
        font-size: .83rem;
    }
    .header_left h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 576px) {
    .header_content {
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
    }

    .header_left h1 {
        font-size: 2rem;
    }

    .header_left p {
        margin: auto;
        width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .header_left {
        width: 100%;
    }
    .header_right {
        width: 100%;
    }
}

/* Header end */
/* Main section */
main#main {
    margin-top: 8rem;
}

.main_content {
    grid-template-columns: repeat(2, 1fr auto);
    display: grid;
}

.article_image img {
    width: 100%;
}

.matchUpdate_btns {
    background: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: .5em;
    position: sticky;
    top: 1rem;
}

.match_update {
    width: 250px;
    margin-right: 1rem;
}

.matchUpdate_btns * {
    color: #161616;
    background: #fff;
    padding: .9rem 1.2rem;
    width: 100%;
    text-align: center;
    border-radius: .5em;
    font-weight: bold;
    background: linear-gradient(0deg, #ffffff, #f1f1f1);
}
.matchUpdate_btns *:hover {
    background: linear-gradient(0deg, #00adff, #008bc1);
    color: #fff;
}

.blogs {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5em;
    overflow: hidden;
}

article#article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.article_description {
    padding: .8rem;
    display: grid;
    gap: 1.5rem;
}

.blog_btn {
    background: linear-gradient(0deg, #00adff, #008bc1);
    color: #fff;
}

.transfer span {
    border: 1px solid #000;
    padding: .2rem .8rem;
    border-radius: .3em;
}

.title p {
    font-weight: 600;
}

.time_comments {
    display: flex;
    gap: 2rem;
}

.time_comments span {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.tablet_blogs_button {
    display: none;
    text-align: center;
    margin: 3rem 0;
}

.tablet_blogs_button a {
    background: linear-gradient(0deg, #00adff, #008bc1);
    color: #fff;
    padding: 0.7rem 2.2rem;
    text-align: center;
    border-radius: 0.5em;
    font-weight: bold;
}
.tablet_blogs_button a:hover {
    background: linear-gradient(90deg, #008bc1, #00adff);
}
/* Main section responsive */
@media screen and (max-width: 820px) {
    article#article {
        grid-template-columns: repeat(2, 1fr);
    }

    .main_content {
        grid-template-columns: repeat(1, auto);
    }

    .match_update {
        width: 100%;
        margin-bottom: 2rem;
    }

    .matchUpdate_btns {
        background: none;
        flex-direction: revert;
        justify-content: center;
        padding: 0.5rem 0;
    }

    .matchUpdate_btns * {
        border: 1px solid #E8E8E8;
        font-size: .9rem;
    }

    .tablet_blogs_button {
        display: block;
    }

    .blogs:nth-child(9) {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .matchUpdate_btns {
        flex-direction: column;
    }

    .matchUpdate_btns * {
        width: max-content;
        padding: .9rem 3rem;
    }

    article#article {
        grid-template-columns: repeat(1, 1fr);
    }

    .tablet_blogs_button {
        display: none;
    }
}

/* Main section end */


/* Footer */
.footer_content {
    background: #000;
    border-radius: 2rem;
    color: #fff;
    text-align: center;
    padding: 4rem 1rem;
    display: grid;
    gap: 2rem;
}

ul.footer_link, ul.social_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

ul.footer_link a, ul.social_link a {
    text-decoration: none;
    color: #979595;
}

ul.social_link a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
}
.social_link li:hover {
    background: linear-gradient(0deg, #00adff, #008bc1);
}
ul.social_link li {
    background: #444;
    width: 50px;
    height: 50px;
    border-radius: .3em;
}
footer#footer {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.footer_content h1 {
    border-bottom: 1px solid #373434;
    padding-bottom: 1rem;
}

@media screen and (max-width: 576px) {
    ul.footer_link {
        flex-direction: column;
    }
    footer#footer {
        margin-bottom: 5rem;
    }
    ul.social_link li {
        border-radius: 100%;
    }
    .footer_content { 
        padding: 1.5rem 1rem;
    }
}

/* Match content */
.match_content {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
}
.match_flag img {
    width: 35%;
}

.match_flag {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.match_flag span {
    font-weight: 500;
}
.upcoming_btn {
    background: linear-gradient(0deg, #00adff, #008bc1);
    color: #fff;
}
.upcoming_btn:hover {
    background: linear-gradient(90deg, #008bc1, #00adff);
}


/* Match responsive */
@media screen and (max-width: 820px) {
    .match_content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .match_content {
        grid-template-columns: repeat(1, 1fr);
    }
 }